
<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">
    <title>Cinema</title>
    <link rel ='stylesheet' type="text/CSS" href="/Kolya2/project/static/vendor/bootstrap/css/1.css">
    <link href="/Kolya2/project/project/settings.py">
    <style>

    </style>
</head>
<body>
<script src="https://kit.fontawesome.com/8c5f8983b2.js" crossorigin="anonymous"></script>
 <script src='/Kolya2/project/static/vendor/bootstrap/js/index.js'></script>
<div class="t">

<header>
    <div class="img" >
        <button class="enter"><a href="/Kolya2/project/templates/flatpages/html/registretion.html">Вход</a></button>
         <nav>
            <div class="topnav" id="myTopnav">
                <a class="url" href="#movie">ФИЛЬМЫ</a>
                <a class="url" href="#stats">СТАТИСТИКА</a>
                <a class="url" href="#news">НОВОСТИ</a>
                <a class="url" href="">О НАС</a>

            </div>
        </nav>
    </div>
</header>
 <div class="filter">
    <input type="text" class="sms">
    <BUTTON>Найти</BUTTON>
     <h1 class="type"><a href="">Жанры</a> <br><a href=""> Фильмы</a></h1>
 </div>
</div>
<div class="horizontal-scroll-wrapper squares">
<div class="imgs">
    <h1><a name="movie">Новинки</a></h1>
    <p><img class="img2" src ="/Kolya2/pictures/movie1.jpg" width="200" height="300" alt="Динозаврик" title="Розовый динозаврик"></p>
    <img class="img2" src ="/Kolya2/pictures/movie2.jpg" width="200" height="300">
    <img class="img2" src ="/Kolya2/pictures/movie3.jpg" width="200" height="300">
    <img class="img2" src ="/Kolya2/pictures/movie4.jpg" width="200" height="300">
    <img class="img2" src ="/Kolya2/pictures/movie5.jpg" width="200" height="300">
    <img class="img2" src ="/Kolya2/pictures/movie6.jpg" width="200" height="300">



    <img class="img2" src ="/Kolya2/pictures/movie1.jpg" width="200" height="300">
    <img class="img2" src ="/Kolya2/pictures/movie2.jpg" width="200" height="300">
    <img class="img2" src ="/Kolya2/pictures/movie3.jpg" width="200" height="300">
    <img class="img2" src ="/Kolya2/pictures/movie4.jpg" width="200" height="300">
    <img class="img2" src ="/Kolya2/pictures/movie5.jpg" width="200" height="300">
    <img class="img2" src ="/Kolya2/pictures/movie6.jpg" width="200" height="300">
</div>
    </div>


<section class ='stats wrapper'>
    <div class="stats-text">
        <h2><a name="stats">Нас смотрят</a></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br> Ab commodi facere fugiat impedit veniam!<br> Assumenda cupiditate debitis deserunt dignissimos exercitationem id minima nemo perspiciatis, quam rerum sint tenetur voluptate voluptates? <br>Adipisci, temporibus.
        </p>
    </div>
    <div class="stats-num">
        <div Class="stats-line">
            <div class="square">
                <span class="square-text">Нас посетили </span>
                <span class="stats-square">7231 раз</span>

            </div>
            <div class="square">
                <span class="square-text">Cейчас на сайте</span>
                <span class="stats-square">150 чел</span>

            </div>
        </div>
        <div Class="stats-line">
            <div class="square">
                <span class="square-text">Всего фильмов</span>
                <span class="stats-square">999999</span>

            </div>
            <div class="square">
                <span class="square-text">Особых гостей</span>
                <span class="stats-square">1 чел</span>

            </div>
        </div>
    </div>

</section>

<h1 class =title_of_news><a name="news">Новости</a></h1>
<div class="All_news1">

    <div class="news1">
        <h3 class="news1-1">Новость</h3>
        <p>Джонни Ли Миллер получил роль<br> в пятом сезоне 'Короны'</p>
    </div>
    <div class="news2">
        <h3 class="news1-1">Новость</h3>
        <p>В звёздные войны:"эскадрилья изгоев"<br>утверждён сценарист</p>
    </div>
    <div class="news3">
        <h3 class="news1-1">Новость</h3>
        <p>Выход фильма "Дюна" вновь отложен</p>
    </div>
    <div class="news4">
        <h3 class="news1-1">Новость</h3>
        <p>ОгласКА: рецензия Киноакадемии на фильм<br> "Калибр"</p>
    </div>
</div>
<div class="All_news2">
     <div class="news1">
        <h3 class="news1-1">Новость</h3>
        <p>Джонни Ли Миллер получил роль<br> в пятом сезоне 'Короны'</p>
    </div>
    <div class="news2">
        <h3 class="news1-1">Новость</h3>
        <p>В звёздные войны:"эскадрилья изгоев"<br>утверждён сценарист</p>
    </div>
    <div class="news3">
        <h3 class="news1-1">Новость</h3>
        <p>Выход фильма "Дюна" вновь отложен</p>
    </div>
    <div class="news4">
        <h3 class="news1-1">Новость</h3>
        <p>ОгласКА: рецензия Киноакадемии на фильм<br> "Калибр"</p>
    </div>

</div>


<div class="down">
   <h3>О нас</h3>
    <h5>Наш сайт предоставляет услуги просмотра разных фильмов, так же мы желаем подарить вам незабываемые вечера</h5>
    <p><i class="fas fa-phone-square-alt"></i>+1 234 567 890</p>
</div>
</body>
</html>