<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/CSS" href="/Kolya2/project/static/vendor/bootstrap/css/registretion.css">
</head>
<body>
     <div class="container">
    <h1>Зарегестрироваться</h1>
    <p>Пожалуйста заполните форму для регистрации.</p>
    <hr>

    <label for="email"><b>Почта</b></label>
    <input type="text" placeholder="Введите почту" name="email" required>

    <label for="psw"><b>Пароль</b></label>
    <input type="password" placeholder="введите пароль" name="psw" required>

    <label for="psw-repeat"><b>Повторите пароль</b></label>
    <input type="password" placeholder="Повторите пароль" name="psw-repeat" required>
    <hr>

    <p>Создавая аккаунт вы соглашаетесь на правила сайта<a href="#"> Правила пользования</a>.</p>
    <button type="submit" class="registerbtn">Зарегестрироваться</button>
  </div>

  <div class="container signin">
    <p>Уже есть аккаунт? <a href="#">Войти</a>.</p>
  </div>
</body>
</html>